<%= turbo_frame_tag comment do %>
  <div class="mb-3">
    <p><strong><%= comment.user_name %></strong></p>
    <p><%= comment.body %></p>
    <%= button_to "Edit this comment", edit_idea_comment_path(idea, comment), method: :get, class: "btn btn-primary" %>
    <%= button_to "Destroy this comment", idea_comment_path(idea, comment), method: :delete, class: "btn btn-danger",
      form: { data: { turbo_confirm: "Are your sure" } } %>
  </div>
<% end %>

