<%= form_with(model: [idea, comment]) do |form| %>
  <div class="mb-3">
    <%= form.label :user_name, "Your Name", style: "display: block", class: "form-label" %>
    <%= form.text_field :user_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :body, "Comment Message", style: "display: block", class: "form-label" %>
    <%= form.text_area :body, class: "form-control" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
